<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des réservations</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre de Personne</th>
                    <th>Date de la réservation</th>
                    <th>Heure  de la réservation</th>
                    <th>Numéro de la table</th>
                    <th>Client</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let res of list()">
                    <td>{{res.id}}</td>
                    <td>{{res.nbPersonne}}</td>
                    <td>{{res.dateRes | date:'dd/MM/yyyy'}}</td>
                    <td>{{res.heureRes}}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(res.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="remove(res.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i
            class="bi bi-plus-square"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="formReservation">
    <div class="card-header bg-primary text-white display-6">Edition d'une réservation</div>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formReservation.id" readonly/>
        </div>
        <div class="form-group">
            <label for="nbPersonne">Nombre de Personne:</label> <input type="number" class="form-control" id="nbPersonne" name="nbPersonne" [(ngModel)]="formReservation.nbPersonne" />
        </div>
        <div class="form-group">
            <label for="dateRes">Date:</label> <input type="text" class="form-control" id="dateRes" name="dateRes" [(ngModel)]="formReservation.dateRes" />
        </div>
        <div class="form-group">
            <label for="heureRes">Heure:</label> <input type="text" class="form-control" id="heureRes" name="heureRes" [(ngModel)]="formReservation.heureRes" />
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>

