<div class="bandeau">
    <div class="flou">
    <img src="assets/images/reservation/bandeau_reservation.png" alt="bandeau de la page rerservation" style="height: 200px;">
    </div>
    <div class="page-title">
    <h2>Réservation</h2>
    </div>
</div>


<br/>
<br/>
<!-- <div class="card-header bg-primary text-white display-6">Faire une réservation</div>
<br/> -->

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="centrer">
            <div class="form-group">
                <!-- <label for="nbPersonne">Nombre de Personne:</label> <input type="number" class="form-control" id="nbPersonne" name="nbPersonne" [(ngModel)]="formReservation.nbPersonne" (ngModelChange)="recalculForbidden($event)"/> -->
            
                <label for="nbPersonne">Nombre de Joueurs:</label> <input type="number" class="form-control" id="nbPersonne" name="nbPersonne" [(ngModel)]="formReservation.nbPersonne" (click)="changeHeure();changeTable();resetForm()"/>
                <!-- https://stackoverflow.com/questions/61394048/how-do-i-manually-trigger-angular-material-date-picker-filter -->
        </div></div>
      </div>
      <div class="col-sm">
        <div class="centrer">
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label>Choisir une Date</mat-label>
                    <input #fromInput matInput [matDatepickerFilter]="myFilter" [matDatepicker]="dateRes" (dateChange)="test($event.value)" (stateChanges)="test2()" disabled>
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dateRes" ></mat-datepicker-toggle>
                    <mat-datepicker #dateRes disabled="false"></mat-datepicker>
                </mat-form-field>
            </div></div>
      </div>
      <div class="col-sm">
        <div class="centrer">
        <div class="form-group">
            <label for="heureRes">Heures disponible:</label>
            <select class="form-control" id="heureRes" name="heureRes" [(ngModel)]="formReservation.heureRes" (click)="changeTable()">
                <option [value]="undefined">Veuillez sélectionner une heure</option>
                <option *ngFor="let item of listHeureDisponible()" [value]="item">{{item}}</option>
            </select>
        </div></div>
      </div>
    </div>
</div>


<div class="form-group" [ngStyle]="(formReservation.heureRes==undefined || formReservation.nbPersonne==undefined || formReservation.dateRes==undefined) && { 'visibility': 'hidden' }">
    <div class="centrer">
    <label for="idTable">tables disponible:</label>
    <select class="form-control" id="idTable" name="idTable" [(ngModel)]="idTable">
        <option selected value="">Veuillez sélectionner une table</option>
        <option *ngFor="let item of listTableDisponible()" [value]="item">{{item}}</option>
    </select>
</div></div>

<div style="visibility: hidden;">
    <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formReservation.id" readonly/>
</div>

<div class="centrer">
    <div class="parquet">
        <img src="assets/images/reservation/bandeau_reservation.png" id="tableUne" title="Corelangs link">
        <img src="assets/images/reservation/bandeau_reservation.png" id="tableDeux" title="Corelangs link">
        <img src="assets/images/reservation/bandeau_reservation.png" id="tableTrois" title="Corelangs link">
        <img src="assets/images/reservation/bandeau_reservation.png" id="tableQuatre" title="Corelangs link">
    </div>
</div>


<br/>
<br/>
<div class="centrer">
    <a href="#" class="button button--pen" (click)="save()">
        <div class="button__wrapper">
            <span class="button__text">Valider</span>
        </div>
        <div class="characterBox">
            <div class="character wakeup" [ngStyle]="(formReservation.nbPersonne==undefined || formReservation.nbPersonne==0) && { 'visibility': 'hidden' }">
                <div class="character__face"></div>
                <div class="charactor__face2"></div>
            </div>
            <div class="character wakeup" [ngStyle]="(formReservation.dateRes==undefined || formReservation.dateRes=='' || dateRes==undefined) && { 'visibility': 'hidden' }">
                <div class="character__face"></div>
                <div class="charactor__face2"></div>
            </div>
            <div class="character wakeup"  [ngStyle]="(formReservation.heureRes==undefined) && { 'visibility': 'hidden' }">
                <div class="character__face"></div>
                <div class="charactor__face2"></div>
            </div>
            <div class="character wakeup"  [ngStyle]="(idTable==undefined || idTable==0) && { 'visibility': 'hidden' }">
                <div class="character__face"></div>
                <div class="charactor__face2"></div>
            </div>
        </div>
    </a>

</div>
