<div class="bandeau_footer">
    <div id="reseaux_sociaux"class="footer">
        
        <ul>

            <li><a href="http://www.facebook.com/" target="_blank"> <img class="logo" src="/assets/images/reseaux_sociaux/facebook.png" alt="logo_fb"></a></li>
            <li><a  href="http://www.instagram.com/" target="_blank"><img class="logo"  src="/assets/images/reseaux_sociaux/instagram.png" alt="logo_insta"></a></li>
            <li><a  href="http://www.twitter.com/" target="_blank"><img class="logo" src="/assets/images/reseaux_sociaux/twitter.jpg" alt="logo_twitter"></a></li>
        </ul>
    </div>

    <div id="copyright" class="footer">
     @copyright
    </div>
</div>