<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des Jeux</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Joueurs min</th>
                    <th>Joueurs max</th>
                    <th>Age min</th>
                    <th>Durée</th>
                    <th>Editeur</th>
                    <th>Année</th>
                    <th>Prix</th>
                    <th>Image</th>
                    <th>Type de jeu</th>
                    <th>Stock</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let jeu of listJeux()">
                    <td>{{jeu.id}}</td>
                    <td>{{jeu.nom}}</td>
                    <td>{{jeu.nbJoueurMin}}</td>
                    <td>{{jeu.nbJoueurMax}}</td>
                    <td>{{jeu.ageMin}}</td>
                    <td>{{jeu.duree}}</td>
                    <td>{{jeu.editeur}}</td>
                    <td>{{jeu.annee}}</td>
                    <td>{{jeu.prix}}</td>
                    <td><p style="max-width: 40px;
                        max-height: 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{jeu.image}}</p></td>
                    <td><p style="max-width: 40px;
                        max-height: 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{jeu.typeJeu}}</p></td>
                    <td>{{jeu.stock}}</td>
                    <td><p style="max-width: 40px;
                    max-height: 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                    {{jeu.description}}</p></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="editJeu(jeu.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="removeJeu(jeu.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="addJeu()"><i
            class="bi bi-plus-square"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="formJeu">
    <div class="card-header bg-primary text-white display-6">Edition d'un stagiaire</div>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" [(ngModel)]="formJeu.id" readonly/>
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formJeu.nom"/>
        </div>
        <div class="form-group">
            <label for="nbJoueurMin">Nombre Joueur Min:</label> <input type="number" class="form-control" id="nbJoueurMin" name="nbJoueurMin" [(ngModel)]="formJeu.nbJoueurMin" />
        </div>
        <div class="form-group">
            <label for="nbJoueurMax">Nombre Joueur Max:</label> <input type="number" class="form-control" id="nbJoueurMax" name="nbJoueurMax" [(ngModel)]="formJeu.nbJoueurMax" />
        </div>
        <div class="form-group">
            <label for="ageMin">Age Min:</label> <input type="number" class="form-control" id="ageMin" name="ageMin" [(ngModel)]="formJeu.ageMin" />
        </div>
        <div class="form-group">
            <label for="duree">Duree:</label> <input type="number" class="form-control" id="duree" name="duree" [(ngModel)]="formJeu.duree" />
        </div>
        <div class="form-group">
            <label for="editeur">Editeur:</label> <input type="text" class="form-control" id="editeur" name="editeur" [(ngModel)]="formJeu.editeur" />
        </div>
        <div class="form-group">
            <label for="annee">Annee:</label> <input type="text" class="form-control" id="annee" name="annee" [(ngModel)]="formJeu.annee" />
        </div>
        <div class="form-group">
            <label for="prix">Prix:</label> <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="formJeu.prix" />
        </div>
        <div class="form-group">
            <label for="image">Image:</label> <input type="text" class="form-control" id="image" name="image" [(ngModel)]="formJeu.image" />
        </div>
        <div class="form-group">
            <label for="typeJeu">TypeJeu:</label> <input type="text" class="form-control" id="typeJeu" name="typeJeu" [(ngModel)]="formJeu.typeJeu" />
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label> <input type="number" class="form-control" id="stock" name="stock" [(ngModel)]="formJeu.stock" />
        </div>
        <div class="form-group">
            <label for="description">Description:</label> <input type="text" class="form-control" id="description" name="description" [(ngModel)]="formJeu.description" />
        </div>

    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="saveJeu()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancelJeu()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>

