@font-face {
  font-family: "GoodDog";
  src: url("/assets/font/gooddogc.TTF");
}

.h2 {
  font-family: "GoodDog";
}

.flou {
    filter: blur(3px); 
    width : 100%;
  }

  .flou img {
    height: 100%;
    width : 100%;
    object-fit: cover;
  }

  .bandeau {
    display: flex;
    position: relative;
    height: 20%;
    justify-content:center;
    align-items:center;


  }

  .page-title{
    display: flex;
    height: 100%;
    width:  100%;
    position : absolute;
    z-index: 1;
    justify-content:center;
    align-items:center;
  }

  .page-title h2{
    font-size: 400%;
    font-family: 'GoodDog';
    color : #ebf3f3;
    text-shadow: rgb(7, 7, 7) 2px 2px;
  }

  .search-bar{
    display: flex;
    width:  100%;
    padding: 2.5% 0%;
    padding-left: 2.3rem;
    padding-right: 3rem;
  }
  .bar{
    display: flex;
    width:  70%;
    margin-right:  5%;
    margin-left:  5%;
  }

  .display-body{
    display: flex;
  }

  .display-filters{
    
    display: block;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-left: 2rem;
    margin-right: 3rem;
    width:  20%;

  }

  .display-jeux{
   
    display: flex;
    width:  80%;

  }

  .post-it-joueur{
    background-color: #3e72ad;
    color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px;
    text-shadow: rgb(51 51 51) 1px 1px;
    position: absolute;
    right: -30px;
    top: 15px;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

    .post-it-duree{
        background-color: #3e72ad;
        color: white;
        box-shadow: rgb(0 0 0 / 20%) 0px 1px;
        text-shadow: rgb(51 51 51) 1px 1px;
        position: absolute;
        right: -30px;
        top: 65px;
        padding: 5px 10px;
        font-size: 1.2rem;
        border-radius: 5px;
}

.post-it-age{
    background-color: #3e72ad;
    color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px;
    text-shadow: rgb(51 51 51) 1px 1px;
    position: absolute;
    right: -30px;
    top: 115px;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}
  
.reset-btn {
  padding: 0;
  border: none;
  background: none;
  padding-left: 10rem;
  color: #19515d;
}

.container-prix{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

