@font-face {
    font-family: "GoodDog";
    src: url("/assets/font/gooddogc.TTF");
}


h1, h2{
    font-family: "GoodDog";
    text-align: center;
   
  
}

h1{
    font-size:60px;
     padding-top:2%;

}

.form
{   
    width:100%;
    margin: 2%;

}

.form_{
    display: flex;
    flex-direction: row;
   
   
}

.card-header {
    background-color: #16515d;
    color: white;
}
