<div class="page">
         <div class="container">
            <img src="assets/images/bandeau_inscription.png"/>

             <h1>Inscription</h1>
                 <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <br>
                        <strong><label for="civilite">Civilité : * &nbsp;&nbsp;</label></strong> 
                        <div class="civilite" *ngFor="let item of listCivilites()" >
                            <label for="{{item}}">
                                <input id="civilite" [value]='item' type="radio" name="civilite" [(ngModel)]="formClientInscription.civilite"> {{ item }}
                            </label>
                        </div>
                    </div> 
                    <div class="col-md-3 mb-3">
                        <strong><label for="nom">Nom : * &nbsp;&nbsp;</label></strong>
                        <input type="text" class="form-control" id="nom" placeholder="Nom" required [(ngModel)]="formClientInscription.nom">
                    </div>

                    <div class="col-md-3 mb-3">
                        <strong><label for="prenom">Prénom : * &nbsp;&nbsp;</label></strong>
                        <input type="text" class="form-control" id="prenom" placeholder="Prénom" required [(ngModel)]="formClientInscription.prenom">
                    </div>

                    <div class="col-md-3 mb-3">
                        <strong><label for="dateNaissance">Date de Naissance : &nbsp;&nbsp;</label></strong>
                        <input type="date" class="form-control" id="dateNaissance" placeholder="dateNaissance" [(ngModel)]="formClientInscription.dateNaissance">
                    </div>

                    <div class="col-md-3 mb-3">
                        <strong><label for="tel">Téléphone : * &nbsp;&nbsp;</label></strong>
                        <input type="tel" class="form-control" id="tel" placeholder="0600000001" pattern="[0-9]{10}" [(ngModel)]="formClientInscription.tel">
                    </div>

                     <div class="col-md-3 mb-3">
                        <strong><label for="mail">Mail : * &nbsp;&nbsp;</label></strong>
                         <input type="email" class="form-control" id="mail" placeholder="nom@gamil.com" required [(ngModel)]="formClientInscription.mail">
                     </div>
                     <div class="col-md-3 mb-3">
                        <strong><label for="password">Mot de passe : * &nbsp;&nbsp;</label></strong>
                         <input type="password" class="form-control" id="password" required [(ngModel)]="formClientInscription.password">
                     </div>
                     <!-- <div class="col-md-3 mb-3">
                        <strong><label for="password">Vérification Mot de passe : &nbsp;&nbsp;</label></strong>
                         <input type="password" class="form-control" id="password" required>
                     </div> -->
                 </div>
                 
                 
                 <button class="btn btn-primary" (click)="save()" [routerLink]="['/client']" routerLinkActive="active" id="client">Valider</button>
                 <br>
                 <br>
                 <p>* : champs obligatoire</p>
                 <br>
                 <br>
                 <br>
                 <p> </p>

            </div>
         </div>
