<!-- <ul class="nav nav-pills m-5 nav-justified">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-house"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/filiere']" routerLinkActive="active">Filiere</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/matiere']" routerLinkActive="active">Matiere</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ordinateur']" routerLinkActive="active">Ordinateur</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/formateur']" routerLinkActive="active">Formateur</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stagiaire']" routerLinkActive="active">Stagiaire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/stagiaire']" routerLinkActive="active">Home-Stagiaire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/utilisateur']" routerLinkActive="active"><i class="bi bi-person-circle"></i></a>
    </li> 
</ul> -->


<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">



<nav>
    <div class="container">
    <div class = "logo"><a [routerLink]="['/accueil']" routerLinkActive="active"><img src="assets/images/logo_w.png" alt="logo du bar"></a></div>
    <ul id="ul1">
        <li><a [routerLink]="['/accueil']" routerLinkActive="active" id="accueil">ACCUEIL</a></li>
        <li><a [routerLink]="['/reservation']" routerLinkActive="active" id="reservation">RESERVATION</a></li>
        <li><a [routerLink]="['/collection']" routerLinkActive="active" id="collection">COLLECTION</a></li>
        <li><a [routerLink]="['/boutique']" routerLinkActive="active" id="boutique">BOUTIQUE</a></li>
        <li *ngIf="appComponent.client != undefined">
            <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" (click)="refreshPanier()" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent;border-color: transparent;">
                <i class="bi bi-cart2" style="color : #D1E8E2"></i>
            </button>
            <ul class="dropdown-menu">
                <panier></panier>
            </ul>
          </div>
        </li>
        <li><a class="btn" style="font-size: 100%;" (click)="navigationUser()"><i class="fas fa-user"></i></a></li>
        <!-- <li><a [routerLink]="['/admin']" routerLinkActive="active"><i class="fas fa-user" style="color: darkred;"></i></a></li>
        <li><a class="btn" (click)="popupService.open('modal-1')">CONNEXION</a></li> -->
        <li *ngIf="appComponent.client != undefined || appComponent.admin != undefined"><a class="btn" style="font-size: 100%;" (click)="appComponent.deconnexion()" [routerLink]="['/accueil']" routerLinkActive="active">DECONNEXION</a></li>
    </ul>
   </div>
</nav>

