 <div class="bandeau_accueil">
        <div class="reseaux_sociaux">
            <p id="rs">Suivez-nous sur nos différents réseaux!</p>
            
            <ul>

                <li><a href="http://www.facebook.com/"> <img class="logo" src="/assets/images/reseaux_sociaux/facebook.png" alt="logo_fb"></a></li>
                <li><a  href="http://www.instagram.com/"><img class="logo"  src="/assets/images/reseaux_sociaux/instagram.png" alt="logo_insta"></a></li>
                <li><a  href="http:/www.twitter.com/"><img class="logo" src="/assets/images/reseaux_sociaux/twitter.jpg" alt="logo_twitter"></a></li>
            </ul>
        </div>

        <div class="logo_banniere">
         <img class="logo_banniere_" id="banniere" src="/assets/images/logo_accueil/logo_banniere2.png" alt="banniere">
        </div>
    </div>