@font-face {
  font-family: "GoodDog";
  src: url("/assets/font/gooddogc.TTF");
}

body {
  background-color: #ebf3f3;
  display : flex;
}

.corps-page {
  width: 800%;
}

.sidebar {
  width: 25%;
  background-color: #07292bd0;
}

.btn-color {
  font-weight: bolder;
  color: #ebf3f3;
}

li {
  font-size : large;
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -15px;
}

.title-h1 {
  text-align: center;
  font-family: 'GoodDog';
  color : #07292bd0;
  font-size: 400%;
}

.card-header {
  background-color: #16515d;
  color: white;
}

.table-center {
  display : flex;
  justify-content: center;
 
}

.titre-table {
  font-family: "GoodDog";
}

.card {
  width: 100%;
}

h1 {
  font-family: "GoodDog";
}

